@font-face {
    font-family: "fuente1";
    src: url("./fuentes/fuente1.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "fuente2";
    src: url("./fuentes/fuente2.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "fuente3";
    src: url("./fuentes/fuente3.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "fuente4";
    src: url("./fuentes/fuente4.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "fuente5";
    src: url("./fuentes/fuente5.ttf");
    font-weight: normal;
}

:root {
    --rojo-1: #D81F26;
    /* Color rojo más brillante */
    --rojo-2: #CE0023;
    /* Rojo más oscuro */
    --blanco: #F8F9F2;
}

body {
    background-color: #0E090A;
    margin-top: 0px;
}

.negro {
    color: #0E090A;
}

.inicio {
    background-image: url(/img/fondo.png); /* Cambia la ruta a tu imagen */
    height: 100vh;
    /* Asegúrate de que ocupe el 100% de la ventana */
    background-color: #0E090A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centrará verticalmente */
    align-items: center;
    /* Centrará horizontalmente */
}

.titulo h1 {
    font-family: "fuente1";
    color: #D81F26;
    font-size: 60px;
    width: auto;
    white-space: nowrap;

}

.titulo2 h1{
    color: #F9F7F4;
}

.titulo h2 {
    font-family: "fuente1";
    color: #D81F26;
    font-size: 60px;
    width: auto;
    white-space: nowrap;

}

.titulo {
    margin-top: -150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    width: 60%;
    /* Distribuye uniformemente las opciones */
    gap: 30px;
    /* Espacio entre las opciones */
}

.titulo h2 {
    color: #D81F26;
}

/* P A N T A L L A  2*/

.pantalla2 {
    height: 900px;
    background-color: #140F10;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 0;
    margin-bottom: 5%;
}

.lineas {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 1920px;
    height: 50px;
}

.linea1 {
    height: 50%;
    background-color: var(--rojo-1);
    width: 1920px;
}

.linea2 {
    height: 50%;
    background-color: var(--rojo-2);
    width: 1920px;
}

.pantalla2 h2 {
    white-space: nowrap;
    width: fit-content;
    margin: 12px 0px;
}

.pantalla2 .titulo2 h2 {
    color: var(--blanco);
}
.titulo2 h2{
    font-size: 70px;
}
.pantalla2 .lineaRoja {
    margin-top: 4%;
}

.pantalla2 .titulo {
    width: 60%;
    margin-top: 5%;
}

.pantalla2 .titulo2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 60%;
    gap: 8px;
}

.pantalla2 .lineaRojaLarga {
    margin-top: 0px;
}

.contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-left: -100px;
}

.contenido img {
    width: auto;
    /* Ajusta el ancho */
    height: 200px;
    /* Mantiene la relación de aspecto */
    align-self: center;
}

.text {
    display: flex;
    flex-direction: column;
    width: 46%;
    margin-left: 5%;
}

.contenido h3 {
    color: var(--rojo-1);
    margin: 12px 0px;
    font-size: 40px;
    font-family: fuente3;
}

.contenido p {
    font-family: fuente5;
    color: white;
    margin: 12px 0px;
    font-size: 25px;
}

/* P A N T A L L A  2    F I N*/



/* P A N T A L L A  3*/

.lineaRoja {
    background-color: #D81F26;
    justify-self: center;
    height: 5px;
    width: 100%;
    border-radius: 100px;
    margin-top: 30px;
}

.titulo2 h1,
h2 {
    font-family: "fuente1";
    font-size: 85px;
    text-align: center;
    margin: 0px;
}

.oculto {
    display: none;
    /* Todas las pantallas estarán ocultas inicialmente */
}

.boton {
    margin-bottom: -150px;
    margin-top: 150px;
    background-color: #D81F26;
    color: #F9F7F4;
    font-size: 40px;
    font-family: "fuente1";
    border: none;
    width: fit-content;
    padding: 32px 24px;
}

.pantalla3 {
    margin-top: -90px;
    height: 70vh;
    background-color: var(--blanco);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}



.pantalla3 h1,
h4 {
    color: var(--rojo-1);
}

.pantalla3 h4 {
    font-size: 30px;
    margin-top: 32px;
    margin-bottom: 0px;
}

.pantalla3 .lineaRoja {
    margin-top: 0px;
}

.texto {
    margin: 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 45%;
}
.texto h4{
    font-family: fuente3;
    font-size: 28px;
}
.texto p{
    font-family: fuente5;
}

.pantalla3 p {
    font-size: 28px;
}


/* P A N T A L L A  3  F I N */


/* E L E C C I O N  D E  N U C L E O */

.eleccionNucleo {
    height: 1030px;
    background-color: #140F10;
    font-family: "fuente5";
    font-size: 30px;
    color: #EAE8E8;
}

.miau {
    padding-top: 200px;
}

.seleccionaTema h1 {
    margin-left: 750px;
    padding-bottom: 50px;
}

.flex {
    
    display: flex;
    gap: 80px;
}
.flex h2{
    font-family: "fuente5";
}

.nucleos {
    height: 250px;
    width: 260px;

}

.recop {
    margin-left: 480px;
    width: 250px;
}

.algoritmo {
    width: 250px;
}

.personalizacion {
    width: 250px;
}

.flex h2 {
    font-size: 30px;
    text-align: center;
}

/* F I N  D E  E L E C C I O N  D E  N U C L E O */

/* R E C O P  D E  D A T O S*/
.recopDatos {
    background-color: #1A1A1A;
    height: 1080px;

}

.lineaRoja2 {
    background-color: #D81F26;
    justify-self: center;
    height: 5px;
    width: 400px;
    border-radius: 100px;
    margin-bottom: 0px;
}

.izq {
    font-family: "fuente1";
    color: #D81F26;
    font-size: 60px;
    padding-top: 150px;
    margin-left: 100px;
}

.txt {
    color: #EAE8E8;
    font-size: 30px;
    font-family: fuente1;
    width: 900px;
    margin-top: -30px;
    margin-bottom: 50px;
}

.lineaRoja3 {
    background-color: #D81F26;
    justify-self: center;
    height: 5px;
    width: 900px;
    border-radius: 100px;
    margin-bottom: -50px;
}

.txt2 h1{
    color: #EAE8E8;
    font-family: fuente2;
    font-size: 28px;
    width: 900px;
    margin-top: 90px;
    margin-bottom: -120px;
}

.estadisticas {
    display: flex;
    gap: 55px;
    margin-top: 120px;
    margin-left: 350px;
}

.stat {
    color: #D9D9D9;
    background-color: #1A1A1A;
    height: 200px;
    width: 55px;
    border-top: 5px solid #D9D9D9;
    border-right: 5px solid #D9D9D9;
    border-bottom: 5px solid #D9D9D9;
    border-left: 5px solid #D9D9D9;
    font-family: fuente5;
    font-size: 12px;
}

.stat h5 {
    margin-left: 7px;
}

.lineaGris {
    background-color: #D9D9D9;
    width: 610px;
    height: 5px;
    margin-left: 320px;
    margin-top: -5px;
}

.txt3 {
    color: #D9D9D9;
    display: flex;
    font-size: 15px;
    font-family: fuente5;
    gap: 40px;
    margin-left: 345px;
    margin-top: -10px;
}

.dos {
    display: flex;
}

.der {
    margin-left: 300px;
}
.der h2{
    font-family: "fuente5";
    font-size: 20px;
    text-align: center;
}

.titulito {
    font-family: fuente1;
    font-size: 30px;
    color: white;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.nombrePeli {
    font-family: fuente2;
    font-size: 28px;
    color: white;
    margin-left: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.like-dislike {
    margin-left: 60px;
    width: 300px;
}

.txt4 {
    color: #D9D9D9;
    font-family: fuente5;
    text-align: center;
    margin-left: -120px;
    margin-top: 50px;
}
.txt4 h2{
    font-size: 25px;
}
.NETFLIX h1{
    font-size: 90px;
    margin-bottom: 50px;
}
.botoncillos{
    margin-left: 80px;
}
.btn-success{
    border-color: #1A1A1A;
    background-color: #1A1A1A;
    background-image: url(/img/like.png);
    background-size: 100%;
    padding: 70px;
    border-radius: 100px;
}
.btn-danger{
    border-color: #1A1A1A;
    background-color: #1A1A1A;
    background-image: url(/img/dislike.png);
    background-size: 100%;
    padding: 70px;
    border-radius: 100px;
}
.bar-values{
    color: white;
    margin-left: 195px;
    display: flex;
    gap: 80px;
    font-family: fuente5;
    font-size: 10px;
}
.bar-values h1{
    font-size: 20px;
    margin-top: 200px;
    margin-bottom: -200px;
}
/* F I N  D E  R E C O P  D E  D A T O S */