@font-face {
    font-family: "fuente1";
    src: url("./fuentes/fuente1.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "fuente2";
    src: url("./fuentes/fuente2.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "fuente3";
    src: url("./fuentes/fuente3.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "fuente4";
    src: url("./fuentes/fuente4.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "fuente5";
    src: url("./fuentes/fuente5.ttf");
    font-weight: normal;
}

body {
    background-color: #121212;
}

.header {
    margin-bottom: -160px;
}

.logo {
    margin-top: 50px;
    margin-left: 60px;
    width: 250px;
}

.comienzo {
    background-image: url(img/image.png);
    background-size: 100%;
    height: 1065px;
    width: 101.2%;
    margin-left: -10px;
    margin-top: -10px;
}

.isis {
    padding-top: 30px;
}

.titulillo {
    font-size: 40px;
    text-align: center;
    padding-top: 230px;
    padding-left: 200px;
    margin-left: 100px;
    margin-right: 200px;
    color: white;
}

.titulillo h1 {
    font-family: "fuente1";
}

.subtitulillo {
    font-size: 35px;
    text-align: center;
    color: white;
    margin-left: 600px;
    margin-right: 450px;
    margin-top: -20px;
}

.subtitulillo h5 {
    font-family: "fuente2";
}

.boton {
    padding-left: 20;
    padding-right: 20;

    margin-top: 100px;
    margin-left: 900px;
    margin-right: 800px;
    font-family: "fuente2";
    background-color: #DD0512;
    color: aliceblue;
}

.boton button {
    font-family: "fuente2";
    font-size: 35px;
    background-color: #DD0512;
    color: aliceblue;
    width: 228px;
    height: 105px;
    border: none;
    cursor: pointer;
}

.ppal {
    height: 1065px;
}

.img_ppal {
    margin-left: 800px;
    width: 1100px;

}

.rectangulo1 {
    height: 800px;
    width: 1500px;
    margin-top: -765px;
    margin-left: -50px;

}

.rectangulo2 {
    margin-top: -500px;
    height: 800px;
    width: 100%;
}

.oculto {
    display: none !important;
}

.ppal h1 {
    margin-top: -950px;
    margin-left: 60px;
    color: white;
    font-family: "fuente3";
    font-size: 56px;
}

.ppal h2 {
    font-size: 40px;
    font-family: "fuente4";
    color: white;
    margin-left: 60px;
    margin-top: -20px;
}

.ppal p {
    font-size: 27px;
    font-family: "fuente5";
    color: white;
    margin-left: 60px;
    margin-right: 900px;
}

.ppal h5 {
    font-family: "fuente2";
    color: white;
    font-size: 30px;
    margin-left: 60px;
    margin-top: 60px;
}

.slide-container {
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
    gap: 50px;
    margin-left: 60px;
}

/* POP UP 1 */
.popup1 {
    height: 2400px;
    width: 1065px;
    background-color: #181818;
    margin-left: 450px;
    margin-top: 200px;
    border-radius: 30px;
}

.cerrar {
    margin-left: 1000px;
    margin-top: 20px;
}

.popup1 h1 {
    font-family: "fuente3";
    color: white;
    font-size: 56px;
    margin-left: 190px;
}

.gif {
    height: 550px;
    width: 1000px;
    margin-left: 30px;
}

.popup1 p {
    font-size: 30px;
    font-family: "fuente5";
    color: #CBC5C5;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.especifico p {
    text-align: left;
}

/* FIN DE POP UP 1 */

/* I N I C I O  POP UP 3*/
.popUp-3 {
    display: flex;
    margin-left: 290px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    /* Asegúrate de que la altura se ajuste automáticamente al contenido */
    background-color: #181818;
    /* Esto es opcional, solo para ver mejor el contenedor */
    padding: 20px;
    /* Añade un poco de espacio interno si es necesario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra opcional */
    border-radius: 10px;
    /* Bordes redondeados opcionales */
    color: aliceblue;
}

.popUp-3 h1 {
    font-size: 48px;
}

.popUp-3 h4 {
    font-size: 26px;
    text-align: center;
}

.display4Images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas para las imágenes */
    gap: 16px;
    /* Espacio entre imágenes */
    margin-top: 2%;
    margin-bottom: 2%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.display4Images.pop-effect{
    transform: scale(1.05);
    opacity: 0.7;
}

.image-option {
    position: relative;
    border-radius: 10px;
    width: auto;
    height: auto;
}

.image-option img {
    width: 100%;
    height: 100%;
    /* Asegura que las imágenes ocupen todo el ancho del contenedor */
    border-radius: 10px;
}


.image-text {
    position: absolute;
    bottom: 10px;
    /* Ajusta la distancia desde la parte inferior */
    left: 10px;
    /* Ajusta la distancia desde la parte izquierda */
    color: white;
    /* Color del texto */
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente */
    padding: 5px 10px;
    /* Espaciado interno del texto */
    border-radius: 5px;
    /* Bordes redondeados opcionales */
}

.options {
    display: flex;
    justify-content: space-around;
    /* Distribuye uniformemente las opciones */
    gap: 24px;
    /* Espacio entre las opciones */
}

.option {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    margin-bottom: 24px;
    /* Oculta el tamaño adicional de la imagen */
    transition: transform 0.3s ease;
}

.option img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease, border 0.3s ease;
}

.option:hover {
    transform: scale(1.1);
    border: 2px solid red;
    border-radius: 5px;
}

/* F I N  POP UP 3*/